/* ForgotPassword.css */

.forgot-password-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f8f8f8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 10rem;
}

/* label {
    display: block;
    margin-bottom: 8px;
    color: #333;
} */

.input_Email {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;

}

.error-message {
    color: red;
    margin-bottom: 10px;
    font-size: 13px;
    font-weight: bold;
}

.reset-button {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    
}
.button_verify{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.reset-button:hover {
    background-color: #0056b3;
}

.Keys_of_forgotpassword{
    text-align: center;
}

.text_forgotpassword{
    font-size: 15px;
    font-weight: bold;
}
.left-arrow{
    font-size: 10px;
    color: #000;
}
.label_forgotpassword{
    font-size: 15px;
    font-weight: bold;
    color: #000;
}

.password-input-container {
    position: relative;
  }
  
.password-toggle-icon {
    position: absolute;
    top: 40%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}
  